 /* .start {
  display: flex;
  justify-content: space-between;
} 
.start div a button {
  border: 1px solid rgb(0, 106, 80);
  color: green;
  padding: 8px 12px 8px 12px;
  background: white;
  margin-top: 30px;
}
.btn-su:hover {
  background-color: lightblue;
  color: black;
  transition: 1s;
}
.start h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.tdnt :hover {
  color: lightgreen;
  transition: 1s;
}  */
.kjscl {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-left: 50px;
  }
  .start {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
  }
.button-su-container {
  display: flex;
  margin-right: 50px;
}
.button-su {
  box-sizing: border-box;
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
padding: 15px 30px 15px 30px;
color: rgb(4, 154, 4);
}
.section-1 p {
  color: rgba(14, 14, 14, 0.5);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hs1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  position: static;
  width: 622px;
  height: 201px;
  /* display: flex; */
}
.section-1 {
  display: flex;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  margin: 80px 0px;
  padding: 80px 100px 80px 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.btn-to-do {
  position: relative;
  position: absolute;
}
.btn-1 {
  border-radius: 8px;
  background: rgb(0, 106, 80);
  color: white;
  padding: 9px 20px 9px 20px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.btn-1 :hover {
  background: lightgray;
  color: black;
}
/* Section 2  */
.section-2 {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: 80px;
  gap: 25px;
}

.piller-1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  gap: 15px;
  padding: 24px;
  width: 300px;
  height: 500px;
}
.piller-2 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  gap: 15px;
  padding: 24px;
  width: 300px;
  height: 500px;
}
.piller-3 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  gap: 15px;
  padding: 24px;
  width: 300px;
  height: 500px;
}
.piller-4 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  gap: 15px;
  padding: 24px;
  width: 300px;
  height: 500px;
}
.sec-extra {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
}
.TVOF {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
}
.TVOF p {
  width: 1100px;
  height: 48px;
  color: rgba(14, 14, 14, 0.7);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;

}
.future-1 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  padding: 20px 20px 20px 20px;
  width: 410.67px;
}
.future-2 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  padding: 20px 20px 20px 20px;
  width: 410.67px;
}
.future-3 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
  padding: 20px 20px 20px 20px;
  width: 410.67px;
}
/* Shared Buttons Learn More  */

.section-3 {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  gap: 18px;
  margin-bottom: 50px;
}
.section p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(14, 14, 14, 0.7);
}
.btn-lm-1 {
  border-radius: 8px;
  color: white;
  padding: 11px 20px 11px 20px;
  width: 122px;
  height: 41px;
  border: none;
  background: rgb(84, 144, 245);
  font-weight: 600;
  cursor: pointer;
}
.btn-lm-2 {
  border-radius: 8px;
  color: white;
  padding: 11px 20px 11px 20px;
  width: 122px;
  height: 41px;
  border: none;
  background: rgb(9, 161, 92);
  font-weight: 600;
  cursor: pointer;
}
.btn-lm-3 {
  border-radius: 8px;
  color: white;
  padding: 11px 20px 11px 20px;
  width: 122px;
  height: 41px;
  border: none;
  background: rgb(255, 194, 57);
  font-weight: 600;
  cursor: pointer;
}
.btn-lm-1:hover {
  background-color: lightblue;
  color: black;
  transition: 1s;
}
.btn-lm-2:hover {
  background-color: lightblue;
  color: black;
  transition: 1s;
}
.btn-lm-3:hover {
  background-color: lightblue;
  color: black;
  transition: 1s;
}

.main-title {
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  width: 1100px;
  height: 100px;
}
.yunus-work {
  color: rgba(14, 14, 14, 0.6);
  width: 1232px;
  height: 96px;
}
.yunus {
  font-weight: bold;
}
.section-4 {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 48px 24px 48px 24px;
}
nav button :hover {
  background-color: lightgray;
  color: black;
  transition: 1s;
}


.toflex {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}
.section-5-top {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 50px ;
  margin-left: 50px;
  margin-right: 50px;
}
.section-5-top p {
  letter-spacing: 0%;
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
}
.section-5 img {
  border-radius: 24px;
  margin-right: 30px;
}
.section-5 h2 {
  font-family: Arial, Helvetica, sans-serif;
}
.section-5 {
  margin-right: 50px;
  margin-left: 50px;
}
.section-5 p {
  color: rgba(14, 14, 14, 0.7);
}
.sec-5-photo-1 {
  margin-left: 50px;
  margin-right: 50px;
}
.sec-5-photo-1 img {
  border-radius: 24px;
}
.sdfblasdj {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.kawwjef {
  color: color: rgba(14, 14, 14, 0.8);
  font-family: arial;
}
.sdfblasdj p {
  color: rgba(14, 14, 14, 0.7);
}

.btn-rm {
  border-radius: 8px;
  padding: 13px 26px 13px 26px;
  background: rgb(0, 106, 80);
  color: white  ;
  border: none;
  cursor: pointer;
}
.btn-rm:hover {
  background: lightblue;
  color: black;
  transition: 1s;
}
.sec5-ro {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  padding: 48px;
  border-radius: 24px;
  background-color: whitesmoke;
  box-shadow: black 1px;
  gap: 25px;

}
.kjsbksbvl {
  display: flex;
}
.iufdvlsadjv {
  display: flex;
}
.sec-5b2 {
  
  margin-left: 50px;
  margin-right: 50px;
  
}
.hbljv {

}
.jhblb {
    display: flex;
  border-radius: 24px;
}
.sec-6div-1 {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  background-color: whitesmoke;
  border-radius: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.uasruhflish {
  background-color: whitesmoke;
  border-radius: 24px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px 48px 20px 48px;
  margin-top: 25px;
}
.isfhlsdkhf {
  background-color: whitesmoke;
  margin-top: 25px;
  border-radius: 24px;
}
.sec-6div-1 {
  padding: 20px 48px 20px 48px;
  margin-top: 25px;
}
.section-5 {
  font-family: Arial, Helvetica, sans-serif;
}
.section-7 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.section-7 p {
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
.main-sec7 {
  font-family: Arial, Helvetica, sans-serif;
  gap: 24;
display: flex;
margin: 32px 0px;
justify-content: space-evenly;
align-items: space-between;

}
.main-sec7 h2 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 40px 40px 40px 40px ;
}
.h2-s7-1:hover {
  background-color: rgb(198, 228, 214);s;
  transition: 1s;
}
.h2-s7-2:hover {
  background-color: rgb(198, 228, 214);s;
  transition: 1s;
}
.h2-s7-3:hover {
  background-color: rgb(198, 228, 214);s;
  transition: 1s;
}
.h2-s7-4:hover {
  background-color: rgb(198, 228, 214);s;
  transition: 1s;
}
.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}
.input-ammount {
  padding: 20px 400px 20px 400px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  border: none;
  text-align: center;
  background-color: whitesmoke;
}
.btn-dn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.btn-dn-m {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 17px 34px 17px 34px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 80px;
}
.btn-dn-m:hover {
  background-color: lightblue;
  color: black;
  transition: 1s;
}
.kjdfghkdf {
  color: rgb(14, 14, 14);
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.klsgjblkasddbfkl {
  color: rgba(14, 14, 14, 0.7);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.lszjkdfsg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wpntsy {
  text-align: center;
  color: rgba(14, 14, 14, 0.7);
  font-family: Arial, Helvetica, sans-serif;
}
.input-email {
  border-radius: 8px 0px 0px 8px;
  background: rgb(255, 255, 255);
  padding: 14px 25px 14px 35px;
  border: none;
}
.button-subs {
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  padding: 13px 28px 13px 28px;
  color: white;
  border: none;
}
.button-subs:hover {
  background-color: lightblue;
  color: rgb(62, 0, 0);
  font-weight: bold;
  transition: 1s;
}
.sec-8 {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 100px 80px 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 80px;
}
.slhvgashvlsdh {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px 160px 50px 160px;
  margin-bottom: 50px;
}